.fundoCadastro {
    background-image: url(../../assets/LogoHome.png);
    background-repeat: initial;
    width: 50%;
    min-height: 50vh;
    background-size: cover;
    background-position: flex;
}